.frame-child62 {
  width: 473px;
  height: 1080px;
  position: relative;
  box-shadow: 4px 0 19px rgba(0, 0, 0, 0.25);
  background-color: var(--color-oldlace);
  display: none;
  max-width: 100%;
}
.makers4,
.moment4 {
  margin: 0;
}
.moment-makers8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.about6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
}
.events-and-weddings12 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-alex-brush);
  color: var(--color-peru);
  z-index: 1;
}
.home5,
.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home5 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.logo {
  flex-direction: row;
  padding: 0 var(--padding-18xl) 0 var(--padding-16xl-7);
}
.home6 {
  position: relative;
  display: inline-block;
  min-width: 68px;
  cursor: pointer;
  z-index: 1;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.about7,
.services6 {
  position: relative;
  display: inline-block;
  min-width: 94px;
  z-index: 1;
}
.about7 {
  min-width: 70px;
}
.details1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.blog4 {
  position: relative;
  display: inline-block;
  min-width: 53px;
  z-index: 1;
}
.details2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.contact5 {
  position: relative;
  display: inline-block;
  min-width: 87px;
  cursor: pointer;
  z-index: 1;
}
.details3 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-10xs);
}
.details3,
.info,
.services5 {
  display: flex;
  align-items: flex-start;
}
.info {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.services5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-175xl);
}
.icons1 {
  height: 0.5px;
  flex: 1;
  position: relative;
  border-top: 0.5px solid var(--color-peru);
  box-sizing: border-box;
  opacity: 0.6;
  z-index: 1;
}
.website {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-55xl) 0 var(--padding-54xl);
}
.description {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.party-planner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-24xl) 0 var(--padding-22xl);
}
.infomomentmakerscom8 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.contact-info3,
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main {
  align-self: stretch;
  gap: var(--gap-2xs);
}
.contact-info3 {
  flex: 1;
  gap: var(--gap-sm-5);
}
.contact-info-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xl-7) 0 var(--padding-11xl);
  text-align: center;
  font-size: var(--para-size);
  color: var(--color-black);
  font-family: var(--font-cormorant-garamond);
}
.frame-child63 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-peru);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.book-button-icon {
  position: absolute;
  height: 64.17%;
  width: 32.22%;
  top: 17.78%;
  right: 35.56%;
  bottom: 18.06%;
  left: 32.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame-child64,
.rectangle-parent45 {
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-peru);
  box-sizing: border-box;
}
.rectangle-parent45 {
  height: 36px;
  width: 36px;
  position: relative;
  z-index: 1;
}
.frame-child64 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.vector-icon19 {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 27.22%;
  right: 25%;
  bottom: 22.78%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame-child65,
.rectangle-parent46 {
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-peru);
  box-sizing: border-box;
}
.rectangle-parent46 {
  height: 36px;
  width: 36px;
  position: relative;
  z-index: 1;
}
.frame-child65 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.vector-icon20 {
  position: absolute;
  height: 50%;
  width: 47.78%;
  top: 22.78%;
  right: 22.78%;
  bottom: 27.22%;
  left: 29.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.rectangle-parent47 {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-peru);
  box-sizing: border-box;
  z-index: 1;
}
.vector-icon21 {
  position: absolute;
  height: 44.44%;
  width: 54.44%;
  top: 27.22%;
  right: 23.06%;
  bottom: 28.33%;
  left: 22.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child66 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child66,
.frame-child67,
.vector-parent4 {
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-peru);
  box-sizing: border-box;
}
.vector-parent4 {
  height: 36px;
  width: 36px;
  position: relative;
  z-index: 1;
}
.frame-child67 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.vector-icon22 {
  position: absolute;
  height: 43.06%;
  width: 43.06%;
  top: 31.94%;
  right: 29.72%;
  bottom: 25%;
  left: 27.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.rectangle-parent48 {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-peru);
  box-sizing: border-box;
  z-index: 1;
}
.party-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.contact4,
.rectangle-parent44 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact4 {
  width: 303.4px;
  align-items: flex-end;
  gap: var(--gap-25xl);
  font-size: var(--font-size-6xl);
  color: var(--color-peru);
  font-family: var(--para);
}
.rectangle-parent44 {
  width: 473px;
  box-shadow: 4px 0 19px rgba(0, 0, 0, 0.25);
  background-color: var(--color-oldlace);
  align-items: center;
  padding: var(--padding-47xl) var(--padding-xl) var(--padding-16xl)
    var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-177xl);
  min-width: 473px;
  max-width: 100%;
}
.our-services4,
.party-planner1 {
  margin: 0;
  position: relative;
  font-weight: 400;
}
.our-services4 {
  font-size: inherit;
  font-family: inherit;
}
.party-planner1 {
  font-size: var(--font-size-31xl);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: var(--para);
  color: var(--color-black);
}
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.contact-footer-child {
  width: 580px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 801px;
  max-width: 100%;
}
.from-backyard-bbqs,
.take-your-parties {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.take-your-parties {
  white-space: pre-wrap;
}
.package-includes5 {
  font-weight: 500;
}
.package-includes4 {
  margin: 0;
}
.blank-line8 {
  font-weight: 500;
}
.blank-line7 {
  margin: 0;
  color: var(--color-black);
}
.pwe-weddings2 {
  line-height: 149.9%;
}
.pwe-weddings-events-workbook5 {
  margin-bottom: 0;
}
.unlimited-access-to2 {
  line-height: 149.9%;
}
.unlimited-access-to-expert-wed2 {
  margin-bottom: 0;
}
.access-to-preferred2 {
  line-height: 149.9%;
}
.access-to-preferred-vendors-li2 {
  margin-bottom: 0;
}
.wedding-assistant-for2 {
  line-height: 149.9%;
}
.wedding-assistant-for-wedding2 {
  margin-bottom: 0;
}
.oversee-and-help2 {
  line-height: 149.9%;
}
.oversee-and-help-with-ceremony2 {
  margin-bottom: 0;
}
.review-of-vendor2 {
  line-height: 149.9%;
}
.review-of-vendor-contracts2 {
  margin-bottom: 0;
}
.distribute-final-payments2 {
  line-height: 149.9%;
}
.pwe-weddings-events-workbook4 {
  margin: 0;
  font-family: var(--para);
  font-size: var(--font-size-xl);
  padding-left: var(--padding-8xl);
}
.package-includes-pwe-container2 {
  align-self: stretch;
  position: relative;
}
.frame-child68 {
  height: 80px;
  width: 328px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.book-now3 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-cormorant-garamond);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 125px;
  z-index: 1;
}
.rectangle-parent49 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-xl) var(--padding-3xl)
    var(--padding-2xl);
  background-color: var(--color-black);
  width: 328px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.rectangle-parent49:hover {
  background-color: var(--color-darkslategray);
}
.package-includes-pwe-weddings-parent,
.website-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.package-includes-pwe-weddings-parent {
  align-self: stretch;
  gap: var(--gap-19xl);
  font-size: var(--font-size-11xl);
  color: var(--color-peru);
}
.website-footer {
  flex: 1;
  gap: 64.5px;
  min-width: 470px;
}
.contact-footer {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-32xl);
  text-align: justify;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-cormorant-garamond);
}
.contact-footer,
.footer,
.footer-navigation,
.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-navigation {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-46xl);
}
.footer,
.header {
  box-sizing: border-box;
}
.footer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-66xl) 0 0;
  min-width: 880px;
  font-size: var(--font-size-16xl);
  color: var(--color-peru);
  font-family: var(--font-alex-brush);
}
.header {
  width: 1877px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-cormorant-garamond);
}
.frame-child69 {
  height: 510px;
  width: 1920px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.moment-makers9 {
  position: relative;
  z-index: 1;
}
.moment-makers-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-sm);
}
.events-and-weddings13 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 400;
  font-family: var(--font-alex-brush);
  z-index: 1;
}
.frame-parent47,
.frame-wrapper24 {
  display: flex;
  align-items: flex-start;
}
.frame-parent47 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
}
.frame-wrapper24 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-7xl);
}
.news-letter4 {
  position: relative;
  z-index: 1;
}
.frame-child70 {
  height: 45px;
  width: 460px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.e-mail4 {
  width: 60px;
  border: 0;
  outline: 0;
  font-family: var(--para);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 18.9px;
  position: relative;
  line-height: 18.9px;
  color: var(--color-gray-100);
  text-align: left;
  display: flex;
  align-items: flex-end;
  padding: 0;
  z-index: 1;
}
.rectangle-parent51 {
  flex: 1;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-smi) var(--padding-4xs);
  min-width: 60px;
  max-width: 100%;
  z-index: 1;
}
.frame-child71 {
  height: 45px;
  width: 149px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.subscribe4 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--para);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.frame-parent48,
.rectangle-parent52 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent52 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-9xl);
  background-color: var(--color-white);
  width: 149px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.rectangle-parent52:hover {
  background-color: var(--color-gainsboro);
}
.frame-parent48 {
  align-self: stretch;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.sign-up-with4 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--para);
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frame-parent46,
.news-letter-parent2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.news-letter-parent2 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-mid);
  color: var(--color-white);
  font-family: var(--font-cormorant-garamond);
}
.frame-parent46 {
  width: 617px;
  align-items: flex-end;
  gap: var(--gap-47xl);
  min-width: 617px;
}
.contact-us4 {
  position: relative;
  z-index: 1;
}
.contact-us-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-65xl) 0 var(--padding-59xl);
}
.any-where-any4,
.call-us-918888666688882,
.infomomentmakerscom9 {
  position: relative;
  z-index: 1;
}
.infomomentmakerscom9 {
  white-space: nowrap;
}
.infomomentmakerscom-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-14xl);
}
.frame-parent49,
.frame-wrapper25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent49 {
  gap: var(--gap-2xs);
}
.frame-wrapper25 {
  height: 215px;
  min-width: 313px;
  font-size: var(--para-size);
  color: var(--color-white);
  font-family: var(--para);
}
.rectangle-parent50 {
  align-self: stretch;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-60xl) var(--padding-60xl) var(--padding-103xl)
    var(--padding-547xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-peru);
  font-family: var(--font-coustard);
}
.event3 {
  width: 100%;
  position: relative;
  background-color: var(--color-oldlace);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1600px) {
  .home5,
  .rectangle-parent44 {
    flex: 1;
  }
  .header {
    flex-wrap: wrap;
  }
  .frame-parent46 {
    flex: 1;
    min-width: 100%;
  }
  .frame-wrapper25 {
    flex: 1;
  }
  .rectangle-parent50 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .rectangle-parent44 {
    padding-top: var(--padding-24xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
  .contact-footer-child {
    flex: 1;
  }
  .contact-footer {
    flex-wrap: wrap;
  }
  .footer {
    padding-top: var(--padding-36xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .rectangle-parent50 {
    padding-left: var(--padding-264xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .moment-makers8 {
    font-size: var(--font-size-13xl);
  }
  .events-and-weddings12 {
    font-size: var(--para-size);
  }
  .rectangle-parent44 {
    padding-top: var(--padding-9xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .our-services4 {
    font-size: var(--font-size-9xl);
  }
  .party-planner1 {
    font-size: var(--font-size-21xl);
  }
  .package-includes-pwe-weddings-parent {
    gap: var(--gap-lgi);
  }
  .website-footer {
    gap: var(--gap-13xl);
    min-width: 100%;
  }
  .contact-footer {
    gap: var(--gap-6xl);
  }
  .footer-navigation {
    gap: var(--gap-13xl);
  }
  .footer {
    padding-top: var(--padding-17xl);
    box-sizing: border-box;
  }
  .moment-makers9 {
    font-size: var(--para-size);
  }
  .events-and-weddings13 {
    font-size: var(--font-size-13xl);
  }
  .news-letter4 {
    font-size: var(--para-size);
  }
  .frame-parent48 {
    flex-wrap: wrap;
  }
  .frame-parent46 {
    gap: var(--gap-14xl);
  }
  .rectangle-parent50 {
    padding-left: var(--padding-122xl);
    padding-top: var(--padding-32xl);
    padding-bottom: var(--padding-60xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .moment-makers8 {
    font-size: var(--para-size);
  }
  .events-and-weddings12 {
    font-size: var(--font-size-lg);
  }
  .about7,
  .blog4,
  .contact5,
  .home6,
  .services6 {
    font-size: var(--font-size-xl);
  }
  .services5 {
    padding-bottom: var(--padding-107xl);
    box-sizing: border-box;
  }
  .description,
  .infomomentmakerscom8 {
    font-size: var(--font-size-lgi);
  }
  .contact4 {
    gap: var(--gap-3xl);
  }
  .rectangle-parent44 {
    gap: var(--gap-79xl);
  }
  .our-services4 {
    font-size: var(--font-size-2xl);
  }
  .party-planner1 {
    font-size: var(--font-size-11xl);
  }
  .from-backyard-bbqs,
  .take-your-parties {
    font-size: var(--font-size-3xl);
  }
  .package-includes-pwe-container2 {
    font-size: var(--font-size-base);
  }
  .footer-navigation,
  .website-footer {
    gap: var(--gap-base);
  }
  .moment-makers9 {
    font-size: var(--font-size-lg);
  }
  .events-and-weddings13 {
    font-size: var(--para-size);
  }
  .news-letter4 {
    font-size: var(--font-size-lg);
  }
  .e-mail4 {
    line-height: 15px;
  }
  .e-mail4,
  .sign-up-with4,
  .subscribe4 {
    font-size: var(--font-size-base);
  }
  .frame-parent46 {
    gap: var(--gap-base);
  }
  .contact-us4 {
    font-size: var(--font-size-lgi);
  }
  .contact-us-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .any-where-any4,
  .call-us-918888666688882,
  .infomomentmakerscom9 {
    font-size: var(--font-size-lgi);
  }
}
